.secondary-nav {
	margin: 0;	
}

.bar {
	background-color: rgb(240,240,240);
}

.red {
	color: rgb(259,0,0);
}

.old-note {
	border: 1px solid rgba(100,100,100,1);
}

.top-pad-button {
	margin-top: 25px;
}

.control-button {
	width: 140px;
}

/* Added for toggle functionality */
.panel-heading .toggle-click, .toggle-icon {
	cursor: pointer; 	
}

.toggle-icon, #toggle-open-all-panels-icon {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition:    all 0.4s ease-in-out;
	-o-transition:      all 0.4s ease-in-out;
	-ms-transition:     all 0.4s ease-in-out;	
}

.rotate {
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-o-transform:      rotate(45deg);
	-ms-transform:     rotate(45deg);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition:    all 0.4s ease-in-out;
	-o-transition:      all 0.4s ease-in-out;
	-ms-transition:     all 0.4s ease-in-out;
}

/* Dashboard styling */
.update-detail {
	padding: 0 20px;
}

.dashboard-widget {
	border: 1px solid rgb(100,100,100);
}

.widget-traffic-light {
	height: 50px;	
}

