.secondary-nav {
	margin: 0;	
}

.bar {
	background-color: rgb(240,240,240);
}

.red {
	color: rgb(259,0,0);
}

.old-note {
	border: 1px solid rgba(100,100,100,1);
}

.add-new-note-button {
	margin-top: 25px;
}